# -- Lint config --
.husky
.lintstagedrc

# -- Commit lint config --
.czrc
.cz-config.js
.commitlintrc

# -- ESlint config --
.eslintrc

# -- Prettier config --
.prettierrc

# -- Build config --
rollup.config.js
babel.config.json

# -- test config --
/test
/coverage
jest.config.json

# -- ts config --
tsconfig.json
